@model reciclamais_backend.Models.Noticia

@{
    ViewData["Title"] = "Details";
}

<h1>Dados da Notícia</h1>

<div>
    <h4>Notícias</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Conteudo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conteudo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInsercao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInsercao)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-info" asp-action="Index">Voltar</a> |
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> 
</div>
